.title{
    color: #00b7ab;
    font-family:  "Trebuchet MS", Arial, sans-serif;
    font-size: 1.4em;
    margin: 10%
}

.choose{
    margin-top: 50px;
    color: #00b7ab;
    font-size: 1.3em;
}

.plan{
    border: 1px solid rgba(0, 183, 171, 0.2);
    border-left: 13px solid #00b7ab;
    border-radius: 3px;
    color: #777;
    padding: 25px;
    min-height: 30px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
}

.body-price{
    border-radius: 100px;
    padding: 5px;
    color: #00b7ab;
    font-family: "Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
    font-size: 1.6em;
}
.price{
    font-size: 2.7em;
}

.mensalidade{
    color: #a1a1a1;
}

.pacote-incluso{
    color: #00b7ab;
    font-size: 1.2em;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
}

.text-align{
    text-align: left;
}

.included-bundle{
    vertical-align: top;
    margin-left: 4px;
}

.btn{
    background-color: #00b7ab;
    border:solid 1px #00b7ab;
    color: #fff;
    font-size: 1em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 25px;
    width: 100%;
}

.btn:hover{
    background-color: #fff;
    border:solid 1px #00b7ab;
    color: #00b7ab;
    font-size: 1em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 25px;
    width: 100%;
}

.btn:focus{
    background-color: #00766e;
    border:solid 1px #00766e;
    color: #fff;
    font-size: 1em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 25px;
    width: 100%;
}

.mascote{
    width: 150px;
    margin-bottom: -10px;
    padding-bottom: 0px;
    float: right;
}

.icon{
    width: 15px;
}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {

    .choose{
        margin-top: 10px;
        font-size: 1em;
    }
    
    .mascote{
        display: none;
    }

    .text-align{
        text-align: center;
    }

    .icon{
        display: none;
    }

    .title{
        margin: 0;
        padding-bottom: 10px;
        font-size: 1.6em;
        border-bottom: solid 1px rgba(0, 183, 171, 0.3);
    }
}

