body{
    font-family: Roboto, sans-serif;
}

.menu-content{
    background-color: #00b7ab;    
    padding: 20px;
    margin-top: 0px;
    text-align: center;

    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.title-content{
    font-family:  "Lucida Console", monospace, sans-serif;
    font-size: 1.8em;
    color: #fff;        
}

.img{
    float: left;
}