body{
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

.menu-content{
    background-color: #00b7ab;    
    padding: 20px;
    margin-top: 0px;
    text-align: center;

    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.title-content{
    font-family:  "Lucida Console", monospace, sans-serif;
    font-size: 1.8em;
    color: #fff;        
}

.img{
    float: left;
}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .title-content{
        font-size: 1.1em;
    }
}